:root {
    --font-family: "Karla", sans-serif;
    --bottm-color: #285E67;
    --header-color: #2A2A2A;
    --prog-color: #2B2B2B;
    --background-color: #F4F4F4;
    --team-color: #EBBFAE;
    --sction-backgroun: #FCE2D7;
}



.container {
    width: 90%;
    margin: auto;
    font-family: var(--font-family);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 5%;
    height: 5%;
}

header nav,
footer nav {
    width: 30%;
}

header nav ul,
footer nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header nav ul a,
footer nav ul a {
    text-decoration: none;
    color: var(--prog-color);
    padding: 12px;
}

header nav ul a:hover {
    background-color: var(--bottm-color);
    border-radius: 35px;
    color: white;
}



.container .home {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .home h1 {
    font-size: 65.34px;
    font-weight: 600;
    margin-bottom: 10px;
}

.container .home p {
    font-size: 16px;
    margin: 0;
}

.container .home button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 251px;
    height: 56px;
    border-radius: 67px;
    gap: 16px;
    background-color: var(--bottm-color);
    border: none;
    color: #fff;
    font-size: 21.33px;
}

.container .home>button:hover {
    background-color: transparent;
    border: 2px solid var(--bottm-color);
    color: var(--bottm-color);
}

.container .home .images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.home .images img {
    width: 48%;
}



.container .about {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
    padding: 15px 20px 15px 20px;
    width: 72%;
    border-radius: 12px;
    height: fit-content;
    margin-bottom: 80px;
}



.container .about img {
    width: 20%;
}

.container .about .text {
    padding: 0 20px 0 20px;
    width: 55%;
    color: var(--prog-color);
}


.container .about .text h2 {
    font-size:
        50.52px;
}

.iforms {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 16px;
}

.iforms .iform {
    width: 35%;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    left: -40px;
}

.iforms .iform img {
    width: 26px;
    background-color: var(--bottm-color);
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 10px;
}



.container .servies {
    flex-direction: row;
    justify-content: space-around;
    width: 72%;
    margin-bottom: 40px;
}

.container .servies img {
    width: 40%;
}

.container .servies .text {
    width: 55%;
    height: 55vh;

}

.container .servies .text h2 {
    font-size: 50.52px;
    margin-bottom: 10px;
}

.container .servies .text>p {
    margin-bottom: 40px;
}

.container .servies .text .scim {
    margin-top: 40px;
    display: flex;
    align-items: center;

}




.container .servies .text img {
    width: 35px;
    height: 35px;
    border: 2px solid var(--bottm-color);
    border-radius: 50%;
    padding: 7px;
    margin-right: 20px;
}

.container .team .text img {

    background-color: var(--team-color);

}



.container .contact {
    width: 74%;
    background-image: url(../image/tyler-lastovich-AVzByhROPbs-unsplash\ 1.png);
    color: #fff;
    padding-top: 40px;
    position: relative;
    height: 65vh;
    margin-bottom: 40px;
    margin-bottom: 200px;
    border-radius: 12px;
}



.container .contact>img {
    border: 2px solid #fff;
    padding: 10px 16px;
    margin-top: 100px;
    border-radius: 12px;
}

.container .contact>p {
    width: 60%;
    text-align: center;
}

.container .contact>button {
    background-color: transparent;
    border: 2px solid white;
}

.container .contact>button:hover {
    background-color: var(--bottm-color);
    border: 2px solid white;
    color: white;

}

.container .contact .icons {
    display: flex;
    position: absolute;
    bottom: 34px;
    justify-content: space-around;
    width: 80%;
    background-color: var(--sction-backgroun);
    padding: 60px;
    border-radius: 12px;
    bottom: -45px;
}

.container .contact .icons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.container .contact .icons .icon img {
    border-radius: 50%;
    width: 35%;
    border: 1px solid #000000;
    padding: 9px;
}

footer {
    width: 100%;
    height: 20vh;
    background-color: var(--bottm-color);
    display: flex;
    flex-direction: column;
    /* padding-top: 30px; */
    justify-content: center;
    align-items: center
}

footer .logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 100%;
}

footer .icone {
    width: 66%;
    margin-top: 30px;
    display: flex;
    align-items: center;

}

footer .icone i {
    margin-right: 20px;
    font-size: 16px;
    color: white;
    padding: 10px;

}

footer .icone i:hover {
    margin-right: 20px;
    font-size: 16px;
    color: var(--bottm-color);
    background-color: var(--background-color);
    border-radius: 12px;


}

footer nav ul a {
    color: white;
}

footer nav ul a:hover {
    background-color: var(--background-color);
    color: var(--header-color);
    border-radius: 35px;
}